<!doctype html>
html(lang="en")
  head
    meta(charset="utf-8")
    title Alt - TodoMVC
    link(rel="stylesheet" href="todomvc-common/base.css")
    link(rel="stylesheet" href="css/app.css")
  body
    section!= html
    footer#info
      p Double-click to edit a todo
      p Alt example created by <a href="http://github.com/goatslacker">Josh Perez</a>
      p View components created by <a href="http://facebook.com/bill.fisher.771">Bill Fisher</a>
      p Part of <a href="http://todomvc.com">TodoMVC</a>

    script(src="js/bundle.js")
